body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: system-ui, -apple-system, sans-serif;
}
body {
  background: lavender;
  min-height: 100vh;
}
.library-container {
  width: 90%;
  margin:0 auto;
}

.components-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}
.component-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  width:400px;
  height:100px;
  color:#333;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.component-card:hover {
  border:1px solid rgb(0, 0, 0);
}
.component-card h1 {
  font-size:25px;
}
.library-header {
  text-align: center;
  color: #333;
  font-size:30px;
  margin-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .component-card {
    width:300px;
    margin:0 auto;

  }
  .component-card:hover {
    border:0px solid transparent;
  }
}
@media screen and (max-width: 480px) {
  .component-card {
    width:300px;
    margin:0 auto;
  }
  .component-card:hover {
    border:0px solid transparent;
  }
}